<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-3">Create New User</h1>
        </div>
    </div>        
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label for="user-name">First Name</label>
                <input [(ngModel)]="user.firstName" type="text" class="form-control" id="user-name" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="user-last">Last Name</label>
                <input [(ngModel)]="user.lastName" type="text" class="form-control" id="user-last" />
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="user-email">Email</label>
                <input [(ngModel)]="user.email" type="text" class="form-control" id="user-email" />
            </div>
        </div>   
    </div>
    <div class="row mb-5">
        <div class="col-4 offset-4">
            <button class="btn btn-success btn-block" (click)="saveUser()">Save</button>
        </div>
    </div>
</div>
