<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-3">Update New Category</h1>
        </div>
    </div>        
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label for="category-title">Category Title</label>
                <input [(ngModel)]="category.title" type="text" class="form-control" id="category-title" />
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-4 offset-4">
            <button class="btn btn-success btn-block" (click)="saveCategory()">Update</button>
        </div>
    </div>
</div>