<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="box">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" type="email" />
                </div>
                <div class="form-group">
                    <label for="password">Pasword:</label>
                    <input type="text" class="form-control" type="password" />
                </div>
                <button class="btn btn-success btn-block mt-4">Login</button>
            </div>
        </div>
    </div>
</div>